@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s;

  font-family: 'Calibri Light';
}

:root {
  /* color scheme codes */
  --colorsc-1: #8693AB;
  --colorsc-2: #BDD4E7;
  --colorsc-3: #212227;
  --colorsc-4: #637074;
  --colorsc-5: #AAB9CF;
}

.section-flex {
  display: flex;
  width: 100%;
  height: 100vh;

  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  resize: none;
}

button {
  background: var(--colorsc-3);
}

button:hover {
  background: var(--colorsc-1);
  cursor: pointer;
}

h2 {
  /* page title */
  font-size: 5em;
}

#cr {
  text-align: center;
}

/* ==================== Landing Page ==================== */

.section-landingpage {
  height: 100vh;

  /* background-image: url('assets/images/wallpbg.jpg'); */
  background-size: contain;
  flex-direction: row;
}

.landing-title {
  font-size: 8em;
  font-family: 'Reem Kufi Fun', cursive;
}

.landing-action {
  border: 1px solid black;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;

  padding: 30px 80px;
  border-radius: 20px;

}

.landing-action #btn-newprojform,
.landing-action #inp-code {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;

  max-width: 250px;
  text-align: center;
}

.landing-action button {
  background: var(--colorsc-3);
  border: none;
  color: white;
}

.landing-action #btn-newprojform {
  margin: 0 0 20px 0;
}

.landing-action button:hover {
  background: var(--colorsc-1);
}

.new-proj-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  margin: 20px 0;

  border: 1px solid black;
  padding: 10px;
  /* background: yellow; */
}

.new-proj-form label {
  margin: 10px 0;
  font-weight: 100;

}

.new-proj-form input,
.new-proj-form textarea {
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

#inp-mmbrname {
  width: 100%;
}

ul li {
  list-style-type: none;
  margin: 5px 0;
}

.proj-dates {
  margin: 20px 0;
}

.proj-dates input {
  border: none;

  width: 100px;
}

#btn-add-mmbr {
  float: right;
  padding: 0 10px;
  margin: 10px 0;

  color: inherit;
  border-radius: 10px;
  background: transparent;
  border-bottom: 2px solid transparent;
}

#btn-add-mmbr:hover {
  border-bottom: 2px solid black;
}

.proj-form-hidden {
  display: none;
}

.landing-action .btn-joinroom {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  margin-bottom: 0;
}

.section-landingpage section {
  display: flex;
  flex-direction: column;
  padding: 10px;

  justify-content: center;
  align-items: center;
}

section.land-left {
  width: 50%;
  height: 100%;

  position: fixed;
  left: 0;
}

section.land-right {
  width: 50%;

  position: absolute;
  right: 0;
  /* background: var(--colorsc-5); */
  border-top: 1px solid #00000040;
  border-bottom: 1px solid #00000040;

  min-height: 200px;
}

section.land-right h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

section.land-right p {
  width: 70%;
  text-align: left;

}

.new-proj-form ul {
  padding: 10px;
}


.part-sec {
  width: 100%;
  padding: 20px;
}

/* ==================== ^^^ Landing Page ^^^ ==================== */
/* ==================== Tasks Page ==================== */


.section-taskspage {
  flex-direction: column;
  padding: 20px;
  align-items: center;

}

.div-add-task {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

#btn-addtask {

  width: 200px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 20px;

  justify-self: right;
  align-self: flex-end;
}

#inp-task-title,
#inp-task-desc {
  padding: 10px;
  width: 500px;
  font-family: 'Arial';
}

#inp-task-desc {
  height: 150px;
  resize: none;
}

.task-board {
  border: 1px solid black;
  border-radius: 20px;
  height: 500px;

  display: flex;
  flex-direction: row;
  padding: 10px;

  margin: 10px;
}

.tb-col {
  border: 1px solid black;
  min-width: 200px;
  margin: 5px;
}

.task-card {
  border: 1px solid black;

  margin: 5px;
  border-radius: 10px;

  text-align: left;
  padding: 10px;
}

/* ==================== ^^^ Tasks Page ^^^ ==================== */
/* ==================== Navbar ==================== */
.topnav {}

/* ==================== ^^^ Navbar ^^^ ==================== */
/* ==================== Dashboard ==================== */
.content {
  /* background: var(--colorsc-5); */
}

.section-dashboard {
  width: 100%;
}

.section-dashboard .widgets {
  width: 80%;
  border: 1px solid black;
  padding: 2px;
  border-radius: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.db-sec {
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  min-width: 20%;
  min-height: 200px;

  flex: auto;

  text-decoration: none;
  color: black;
}

.db-sec:hover {
  background: var(--colorsc-1);
}

.db-clock {}

.db-clock .time {
  font-size: 5em;
}

/* ==================== ^^^ Dashboard ^^^ ==================== */

/* ==================== TImer ==================== */
.section-timer .progress-circle {
  width: 300px;
  height: 300px;
  background: var(--colorsc-3);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-timer h2 {
  font-size: 2em;
}

.progress-circle .circle-inner {
  width: 285px;
  height: 285px;
  background: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}

.circle-inner .countdown {
  font-weight: bold;
  font-size: 4em;
}

.circle-inner .focus {
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.circle-inner .inner-text {
  position: relative;
}

.progress-step {
  display: flex;
  margin: 30px 0;
}

.progress-step .p-step {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--colorsc-2);
  margin: 5px 30px;
}

.progress-step .p-step:nth-child(1) {

  background-color: var(--colorsc-3);
}

.session-text {
  font-weight: bold;
  font-size: 1.5em;
  margin: 30px 0;
}

#btn-timer {
  font-size: 2em;
  color: white;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}


/* ==================== ^^^ Timer ^^^ ==================== */
/* ==================== Project Navigation ==================== */

.projnav-header {
  height: 120px;

  width: 100%;

  display: flex;
}

.fl-left,
.fl-right {
  display: flex;
  align-items: center;
}

.fl-right {
  margin-left: auto;
  margin-right: 50px;
  /* border: 1px solid red; */
}

.projmmbrs {
  margin-left: 100px;
}

.header-logo {
  width: 80px;
  height: 80px;
  margin: 0 30px 0 50px;
  background-image: url('https://www.pennlive.com/resizer/UeXGnWaOE07lC4n_J5lJ0a1M-_M=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.pennlive.com/home/penn-media/width2048/img/entertainment_impact/photo/shutterstock-58364638jpg-6932548563f01558.jpg');

  background-size: cover;
}

.topnav {
  width: 100%;
  background: var(--colorsc-4);
  color: white;
}

.topnav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.topnav ul li {
  flex: 1;
  margin: 0;
  text-align: center;
  position: relative;

  height: 40px;
  vertical-align: middle;
  vertical-align: bottom;
}

.topnav ul li:hover {
  background-color: var(--colorsc-1);
}


.activenavtab {
  background: var(--colorsc-3);
  transition: none;
}

.activenavtab::after {
  content: '';
  width: 100%;
  height: 20px;
  background: var(--colorsc-3);
  position: absolute;
  bottom: -50%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.activenavtab:hover,
.activenavtab:hover::after {
  background: var(--colorsc-1);
}

.lnk {
  width: 100%;
  display: flex;
  position: relative;
  height: 100%;
  color: white;
  text-decoration: none;
  padding: 0;

  vertical-align: bottom;
}

.lnk p {
  width: 100%;
  align-self: center;
  margin: 0;
}

.sec-projov {}

.hlbl {
  font-weight: bold;
}

.list-proj-data li {
  margin: 10px 0;
}

.sec-title {
  font-size: 2em;
  margin: 10px 0;
}


.progressbar {
  width: 100%;
  height: 20px;
  background: rgb(236, 236, 236);

  margin: 50px;
  border-radius: 40px;
  position: absolute;
}

.progressbar .percent {
  width: 60%;
  width: var(barpercent);
  height: 20px;
  background: black;

  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
}

.msc {
  width: 50px;
  height: 50px;
  background: #F5F5F5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.pbarmilestones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  font-weight: bold;
  position: absolute;

}

.pbarmilestones li {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec-prog {
  display: flex;

  align-items: center;

  position: relative;
  flex-direction: column;
  min-height: 200px;

  padding: 0 20px;
}

.sec-prog .prog {
  position: relative;

  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-prog .sec-title {
  margin-top: 50px;

}

.pbarmilestones span {
  position: absolute;

  bottom: 0;
}










.card-sec {
  background: #f5f5f5;

  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.card-addtask {
  display: flex;
  flex-direction: column;
}

.card-addtask label {
  margin: 10px 0;
}

.card-addtask label:nth-child(1) {
  margin-top: 0;
}

.card-addtask input {
  padding: 5px;
}

.card-addtask textarea {
  min-height: 80px;
  padding: 5px;
}

.ps-right,
.ps-left {
  width: 100%;
}

.part-bot {
  display: flex;
  flex-direction: row;
}

.sec-compt {
  position: relative;
}

ul.compl-tasks {
  position: relative;
}

#progline {
  background: rgb(46, 46, 46);
  width: 5px;
  margin: 0 28px;
  height: 100%;
  position: absolute;

}

.checkcirc {
  width: 40px;
  height: 40px;
  background: rgb(207, 207, 207);
  border-radius: 50%;
  z-index: 5;
}

.compl-tasks li {
  margin: 10px;
  display: flex;

  align-items: center;
}

.compl-tasks span {
  margin: 20px;
}

#pbtnaddtask {
  color: white;
  border-radius: 10px;
  margin: 10px 0 0 0;
  width: 100px;
  align-self: flex-end;
}

.card-tasks {
  margin-top: 10px;

}


.card-tasks ul li {
  background:rgb(207, 207, 207);
  padding: 10px;
  width: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.strtask {
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin-left: auto ;
}
/* ==================== ^^^ Project Navigation ^^^ ==================== */